*.pro.user
build-zego-express-example-topic-windows-Desktop_Qt_5_9_8_MSVC2017_64bit-Debug/
.qmake.stash
builds/
deploy/windows/
*.vcx*
Browse*
.suo
*.sln
x64/Debug/
x64/Release/
deploy/
deps/
ui_*
moc_*
ZZZZZ-打包用